{
  # Global options
  auto_https on
}

pubv2.archiyou.com {
    reverse_proxy api:4000
    encode gzip

    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

# make sure you mount a webapp /app/dist to /html
configurev2.archiyou.com {
    root * /html
    file_server
    try_files {path} /index.html
}