LIBRARY_PATH=./scripts
LIBRARY_URL=http://localhost:4000
REDIS_HOST=localhost
REDIS_PORT=6379
# set own passwords for production:
REDIS_PASW=XXXXXXXX
ADMIN_PASSWORD=my_own_admin_pasw
# Generate a string with 64 chars
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# if you want to use external conversion services (like we have)
SERVICES_API_URL=http://localhost:8090